# Project exclude paths
/.gradle/
/build/
.idea
/notebooks/.ipynb_checkpoints/
/notebooks/*/.ipynb_checkpoints/
.ipynb_checkpoints
/atala_sdk_dependencies.txt
/.env
/notebooks/Playgrounds/TypeScript/node_modules/
/notebooks/Playgrounds/TypeScript/package-lock.json
