# Project exclude paths
.env
.idea
/notebooks/.ipynb_checkpoints/
/notebooks/*/.ipynb_checkpoints/
/notebooks/Playground/.ipynb_checkpoints/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
.DS_Store
**/.DS_Store

